@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;/*Arial, Helvetica, sans-serif;*/
}

.mainDiv {
  @apply p-4 /* Adds padding around the whole content */
         mx-auto /* Centers the content horizontally */
         max-w-7xl /* Restricts the content width for larger screens */
         shadow-xl
         space-y-2
}



.postContainer {
  @apply border rounded-lg shadow-md bg-white;
}

.button {
  @apply mt-2 px-4 py-2 bg-[#11b67a] text-white rounded-lg hover:bg-blue-600;
}

.replyContainer {
  @apply mt-4 bg-gray-100 rounded-lg border border-gray-300 relative;
}

.replyText {
  @apply whitespace-pre-wrap break-words text-sm select-all;
}

.copyButton {
  @apply absolute top-2 right-2 p-1 bg-gray-200 rounded hover:bg-gray-300;
}

.heading {
  @apply text-xl font-bold font-[Inter];
}

/* TABLE */
.table-container {
  height: 600px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td, .table th {
  padding: 8px;
  border: 1px solid #ddd;
}
